In [1]:
# import findspark
# findspark.init("/u/cs451/packages/spark")

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, Window, functions as F
from pyspark.sql.functions import unix_timestamp, from_unixtime

In [2]:
spark = SparkSession.builder.appName('covid19').getOrCreate()

In [3]:
import random

num_samples = 100000000

def inside(p):     
    x, y = random.random(), random.random()
    return x*x + y*y < 1

In [4]:
spark

In [5]:
days = lambda i: i * 86400

In [6]:
df = spark.read.csv('covid19.csv', header=True)

In [7]:
df.select('*', F.from_unixtime(F.unix_timestamp('date', 'dd-MM-yyyy')).cast('timestamp').alias('date_'))\
    .orderBy('date_')\
    .toPandas()

,pruid,prname,prnameFR,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,percentrecover,ratetested,numtoday,percentoday,date_
0,35,Ontario,Ontario,31-01-2020,3,0,0,3,None,N/A,None,None,3,3.000,2020-01-31
1,59,British Columbia,Colombie-Britannique,31-01-2020,1,0,0,1,None,N/A,None,None,1,1.000,2020-01-31
2,1,Canada,Canada,31-01-2020,4,0,0,4,None,N/A,None,None,4,4.000,2020-01-31
3,35,Ontario,Ontario,08-02-2020,3,0,0,3,None,N/A,None,None,0,0.000,2020-02-08
4,59,British Columbia,Colombie-Britannique,08-02-2020,4,0,0,4,None,N/A,None,None,3,3.000,2020-02-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,60,Yukon,Yukon,13-04-2020,8,0,0,8,832,None,None,None,None,None,2020-04-13
563,61,Northwest Territories,Territoires du Nord-Ouest,13-04-2020,5,0,0,5,1390,None,None,None,None,None,2020-04-13
564,62,Nunavut,Nunavut,13-04-2020,0,0,0,0,264,None,None,None,None,None,2020-04-13
565,99,Repatriated travellers,Voyageurs rapatriés,13-04-2020,13,0,None,13,None,None,None,None,None,None,2020-04-13
566,1,Canada,Canada,13-04-2020,25663,17,780,25680,437475,None,None,None,None,None,2020-04-13

In [8]:
df.filter(df.prname == 'Canada')\
    .select(F.from_unixtime(F.unix_timestamp('date', 'dd-MM-yyyy')).cast('timestamp').alias('date'),
            'numconf',
            'numprob',
            'numdeaths',
            'numtotal',
            'numtested',
            'numrecover',
            'numtoday'
         )\
    .withColumn('rollingaverage', 
                F.avg("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(6), days(0))))\
    .withColumn('numconf_lag_7', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(7), -days(7))))\
    .withColumn('numconf_lag_6', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(6), -days(6))))\
    .withColumn('numconf_lag_5', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(5), -days(5))))\
    .withColumn('numconf_lag_4', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(4), -days(4))))\
    .withColumn('numconf_lag_3', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(3), -days(3))))\
    .withColumn('numconf_lag_2', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(2), -days(2))))\
    .withColumn('numconf_lag_1', 
                F.first("numconf").over(Window.orderBy(F.col("date").cast('long')).rangeBetween(-days(1), -days(1))))\
    .toPandas()

,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,numtoday,rollingaverage,numconf_lag_7,numconf_lag_6,numconf_lag_5,numconf_lag_4,numconf_lag_3,numconf_lag_2,numconf_lag_1
0,2020-01-31,4,0,0,4,None,N/A,4,4.000000,None,None,None,None,None,None,None
1,2020-02-08,7,0,0,7,None,N/A,3,7.000000,None,None,None,None,None,None,None
2,2020-02-16,8,0,0,8,None,N/A,1,8.000000,None,None,None,None,None,None,None
3,2020-02-21,9,0,0,9,None,N/A,1,8.500000,None,None,8,None,None,None,None
4,2020-02-24,10,0,0,10,None,N/A,1,9.500000,None,None,None,None,9,None,None
5,2020-02-25,11,0,0,11,None,N/A,1,10.000000,None,None,None,9,None,None,10
6,2020-02-26,12,0,0,12,None,N/A,1,10.500000,None,None,9,None,None,10,11
7,2020-02-27,13,0,0,13,None,N/A,1,11.000000,None,9,None,None,10,11,12
8,2020-02-29,15,0,0,15,None,N/A,2,12.200000,None,None,10,11,12,13,None
9,2020-03-01,24,0,0,24,None,N/A,9,14.166667,None,10,11,12,13,None,15
10,2020-03-03,33,0,0,33,None,N/A,9,19.400000,11,12,13,None,15,24,None
11,2020-03-05,45,0,0,45,None,N/A,12,29.250000,13,None,15,24,None,33,None
12,2020-03-06,51,0,0,51,None,N/A,6,33.600000,None,15,24,None,33,None,45
13,2020-03-07,57,0,0,57,None,N/A,6,42.000000,15,24,None,33,None,45,51
14,2020-03-08,62,0,0,62,None,N/A,5,49.600000,24,None,33,None,45,51,57
15,2020-03-09,77,0,0,77,None,N/A,15,54.166667,None,None,None,None,None,None,None
16,2020-03-11,103,0,0,103,11023,N/A,26,65.833333,None,None,None,None,None,77,None
17,2020-03-12,138,3,0,141,15185,N/A,38,81.333333,None,None,None,None,77,None,103
18,2020-03-13,176,3,0,179,15185,N/A,38,102.166667,None,None,None,77,None,103,138
19,2020-03-14,193,6,0,199,22409,N/A,20,124.833333,None,None,77,None,103,138,176
20,2020-03-15,249,4,0,253,24977,N/A,54,156.000000,None,77,None,103,138,176,193
21,2020-03-16,324,17,0,341,37730,N/A,88,197.166667,77,None,103,138,176,193,249
22,2020-03-17,424,16,0,440,44176,N/A,99,229.571429,None,103,138,176,193,249,324
23,2020-03-18,569,28,0,597,53546,N/A,157,296.142857,103,138,176,193,249,324,424
24,2020-03-19,846,27,0,873,65851,N/A,276,397.285714,138,176,193,249,324,424,569
25,2020-03-20,971,33,12,1004,76814,N/A,131,510.857143,176,193,249,324,424,569,846
26,2020-03-21,1302,69,18,1371,88883,N/A,367,669.285714,193,249,324,424,569,846,971
27,2020-03-22,1430,41,20,1471,98824,N/A,100,838.000000,249,324,424,569,846,971,1302
28,2020-03-23,1646,445,24,2091,107147,N/A,620,1026.857143,324,424,569,846,971,1302,1430
29,2020-03-24,1959,833,27,2792,125062,N/A,701,1246.142857,424,569,846,971,1302,1430,1646
30,2020-03-25,3385,24,35,3409,147789,N/A,617,1648.428571,569,846,971,1302,1430,1646,1959
31,2020-03-26,4018,25,39,4043,161603,N/A,634,2101.571429,846,971,1302,1430,1646,1959,3385
32,2020-03-27,4675,14,53,4689,170644,N/A,646,2630.714286,971,1302,1430,1646,1959,3385,4018
33,2020-03-28,5386,39,59,5425,187448,N/A,736,3214.142857,1302,1430,1646,1959,3385,4018,4675
34,2020-03-29,6255,3,61,6258,210435,N/A,833,3903.428571,1430,1646,1959,3385,4018,4675,5386
35,2020-03-30,7424,13,89,7437,225705,N/A,1179,4728.857143,1646,1959,3385,4018,4675,5386,6255
36,2020-03-31,8536,12,96,8548,241138,N/A,1111,5668.428571,1959,3385,4018,4675,5386,6255,7424
37,2020-04-01,9595,18,109,9613,256933,N/A,1065,6555.571429,3385,4018,4675,5386,6255,7424,8536
38,2020-04-02,11268,15,138,11283,273666,N/A,1670,7591.285714,4018,4675,5386,6255,7424,8536,9595
39,2020-04-03,12519,18,187,12537,295065,N/A,1254,8711.857143,4675,5386,6255,7424,8536,9595,11268
40,2020-04-04,13882,22,231,13904,311971,N/A,1367,9925.571429,5386,6255,7424,8536,9595,11268,12519
41,2020-04-05,15496,16,280,15512,324791,2335,1608,11245.714286,6255,7424,8536,9595,11268,12519,13882
42,2020-04-06,16653,14,323,16667,336806,3616,1155,12564.142857,7424,8536,9595,11268,12519,13882,15496
43,2020-04-07,17883,14,380,17897,348105,None,1230,13899.428571,8536,9595,11268,12519,13882,15496,16653
44,2020-04-08,19274,15,435,19289,361969,None,1392,15282.142857,9595,11268,12519,13882,15496,16653,17883
45,2020-04-09,20748,17,509,20765,375302,None,1476,16636.428571,11268,12519,13882,15496,16653,17883,19274
46,2020-04-10,22133,15,569,22148,391375,None,1383,18009.857143,12519,13882,15496,16653,17883,19274,20748
47,2020-04-11,23301,17,653,23318,404651,None,1170,19355.428571,13882,15496,16653,17883,19274,20748,22133
48,2020-04-12,24365,18,717,24383,422200,None,1065,20622.428571,15496,16653,17883,19274,20748,22133,23301
49,2020-04-13,25663,17,780,25680,437475,None,None,21909.571429,16653,17883,19274,20748,22133,23301,24365

In [90]:
(17883+19274+20748+22133+23301+24365+25663)/7

21909.571428571428

In [91]:
(24365 + 25663)/2

25014.0

In [132]:
23301 - 22133

1168