In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, Window, Row
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.sql import functions as F
from pyspark.sql import types as T
import pandas as pd
from pyspark.sql.window import Window

In [38]:
from pyspark.ml.regression import *
from pyspark.ml.evaluation import *
from pyspark.ml.feature import *

In [884]:
import numpy as np

In [621]:
spark = SparkSession.builder.appName('covid19').getOrCreate()

In [634]:
df_cases = spark.read.csv('covid_numconf.csv', header=True)
df_words = spark.read.csv('word_count_pivot.csv', header=True)

In [635]:
df_cases = df_cases.select(
        'date',
        F.col('numconf').cast('Long'),
        F.lit(1).alias('temp')
    )

In [636]:
most_corr_cols = [
    "battl",
    "case_death",
    "coronaviru_lockdown",
    "covid_lockdown",
    "covid_patient",
    "death",
    "donat",
    "equip",
    "hero",
    "lockdown",
    "new_york",
    "nurs",
    "polic",
    "ppe",
    "stayhom",
    "stayhomesavel",
    "staysaf",
    "total",
    "ventil",
    "york"
]

In [637]:
df_words = df_words.select('date', *most_corr_cols)

In [638]:
df_words.toPandas()

,date,battl,case_death,coronaviru_lockdown,covid_lockdown,covid_patient,death,donat,equip,hero,...,new_york,nurs,polic,ppe,stayhom,stayhomesavel,staysaf,total,ventil,york
0,2020-03-04,15,94,0,0,6,380,19,11,5,...,27,20,5,8,0,0,2,232,2,28
1,2020-03-05,38,156,3,2,28,714,20,38,6,...,37,58,29,13,0,0,19,422,4,39
2,2020-03-06,20,137,2,0,21,546,11,16,6,...,39,62,18,5,0,0,22,432,1,39
3,2020-03-07,19,153,2,0,11,492,9,10,5,...,46,34,33,6,1,0,15,360,5,46
4,2020-03-08,13,92,5,2,12,448,12,6,1,...,45,39,29,3,1,0,5,265,0,45
5,2020-03-09,57,233,29,16,49,1219,48,41,26,...,133,129,58,19,3,0,36,776,16,136
6,2020-03-10,199,509,69,47,348,3260,179,212,88,...,437,589,158,97,26,0,90,1855,122,448
7,2020-03-11,269,621,47,60,528,4212,296,335,179,...,457,907,175,170,83,0,178,2312,193,472
8,2020-03-12,348,503,129,689,391,4462,412,361,382,...,483,922,230,109,156,0,368,2330,200,510
9,2020-03-13,997,874,624,971,820,9863,2020,911,829,...,1214,2164,698,306,596,0,1166,4770,641,1302
10,2020-03-14,516,836,371,226,551,6213,1427,410,459,...,580,1228,582,238,861,1,768,3466,426,599
11,2020-03-15,551,717,331,189,580,6807,1090,496,587,...,770,1331,659,262,4429,451,699,3722,849,793
12,2020-03-16,658,701,517,216,501,6393,1459,707,616,...,1154,1524,854,295,2685,1087,1304,3762,984,1210
13,2020-03-17,1044,873,863,388,778,8887,2583,1164,1064,...,1195,2263,1162,531,3465,895,2235,4776,1469,1285
14,2020-03-18,864,854,799,288,513,7487,1637,826,873,...,890,1932,1105,587,2504,257,1588,3918,904,943
15,2020-03-19,1379,1091,851,452,1054,11753,2917,1466,1299,...,1274,3620,1462,1175,4227,214,2509,5223,1988,1324
16,2020-03-20,1326,1031,1014,513,944,10572,2983,1576,1487,...,1746,3449,1416,1452,4229,212,2536,5208,1816,1812
17,2020-03-21,1363,1304,820,1109,1222,13776,3348,1647,1861,...,1758,3640,1696,1990,5627,2623,3139,6242,2455,1818
18,2020-03-22,1507,1163,1281,1031,999,12658,2452,1628,2169,...,1875,3703,2525,1721,6427,3786,2740,5727,2166,1934
19,2020-03-23,1337,1023,1645,1139,939,10905,2905,1648,1426,...,1606,2787,2498,1671,11199,2764,4623,5492,1801,1653
20,2020-03-24,1324,1099,2315,1213,927,11117,3019,1550,1214,...,2020,2529,2509,1712,11821,1688,4662,5466,2534,2077
21,2020-03-25,1781,1445,1983,1442,1251,13182,3814,2002,1447,...,2420,3441,2274,2163,13879,1861,4948,5756,2735,2498
22,2020-03-26,1440,1241,1663,1816,1411,11866,3818,1736,1523,...,1672,3728,1938,2092,10861,3622,3766,5363,2475,1731
23,2020-03-27,1634,1598,1601,1362,1382,14421,4608,2286,1669,...,2313,3858,3017,2599,11336,3131,4324,6306,5069,2381
24,2020-03-28,1503,1552,1345,1809,1433,13730,4904,1556,1554,...,2225,3005,2565,2288,7542,3776,3125,6125,3166,2286
25,2020-03-29,1530,1631,1434,1930,1628,15740,4323,1747,1563,...,2180,3328,2088,3457,6408,2649,2568,6237,2872,2226
26,2020-03-30,1489,1345,2422,2520,1421,12411,3994,1572,1695,...,2214,3266,2261,2522,10442,2460,4006,5896,2819,2273
27,2020-03-31,1855,1479,1905,2486,1967,16175,5090,2697,1701,...,2256,4331,3020,3677,8041,2000,4863,6553,3357,2333
28,2020-04-01,1556,1506,1766,1648,1796,16385,4241,2276,1439,...,1694,3320,2239,5880,8427,2865,4391,6383,3113,1761

In [901]:
window = Window.partitionBy('temp').orderBy('date')

data = df_words.join(df_cases, on='date').select(
        'date',
        'numconf',
        F.lag('numconf', 1).over(window).alias('numconf_lag1'),
        F.lag('numconf', 2).over(window).alias('numconf_lag2'),
        F.lag('numconf', 3).over(window).alias('numconf_lag3'),
        F.lag('numconf', 4).over(window).alias('numconf_lag4'),
        F.lag('numconf', 5).over(window).alias('numconf_lag5'),
        F.lead('numconf', 3).over(window).alias('label'),
        *[F.col(c).cast('Long') for c in most_corr_cols]
    )\
    .dropna()

In [902]:
data.toPandas()

,date,numconf,numconf_lag1,numconf_lag2,numconf_lag3,numconf_lag4,numconf_lag5,label,battl,case_death,...,new_york,nurs,polic,ppe,stayhom,stayhomesavel,staysaf,total,ventil,york
0,2020-03-09,77,62,57,51,45,39,138,57,233,...,133,129,58,19,3,0,36,776,16,136
1,2020-03-10,90,77,62,57,51,45,176,199,509,...,437,589,158,97,26,0,90,1855,122,448
2,2020-03-11,103,90,77,62,57,51,193,269,621,...,457,907,175,170,83,0,178,2312,193,472
3,2020-03-12,138,103,90,77,62,57,249,348,503,...,483,922,230,109,156,0,368,2330,200,510
4,2020-03-13,176,138,103,90,77,62,324,997,874,...,1214,2164,698,306,596,0,1166,4770,641,1302
5,2020-03-14,193,176,138,103,90,77,424,516,836,...,580,1228,582,238,861,1,768,3466,426,599
6,2020-03-15,249,193,176,138,103,90,569,551,717,...,770,1331,659,262,4429,451,699,3722,849,793
7,2020-03-16,324,249,193,176,138,103,846,658,701,...,1154,1524,854,295,2685,1087,1304,3762,984,1210
8,2020-03-17,424,324,249,193,176,138,971,1044,873,...,1195,2263,1162,531,3465,895,2235,4776,1469,1285
9,2020-03-18,569,424,324,249,193,176,1302,864,854,...,890,1932,1105,587,2504,257,1588,3918,904,943
10,2020-03-19,846,569,424,324,249,193,1430,1379,1091,...,1274,3620,1462,1175,4227,214,2509,5223,1988,1324
11,2020-03-20,971,846,569,424,324,249,1646,1326,1031,...,1746,3449,1416,1452,4229,212,2536,5208,1816,1812
12,2020-03-21,1302,971,846,569,424,324,1959,1363,1304,...,1758,3640,1696,1990,5627,2623,3139,6242,2455,1818
13,2020-03-22,1430,1302,971,846,569,424,3385,1507,1163,...,1875,3703,2525,1721,6427,3786,2740,5727,2166,1934
14,2020-03-23,1646,1430,1302,971,846,569,4018,1337,1023,...,1606,2787,2498,1671,11199,2764,4623,5492,1801,1653
15,2020-03-24,1959,1646,1430,1302,971,846,4675,1324,1099,...,2020,2529,2509,1712,11821,1688,4662,5466,2534,2077
16,2020-03-25,3385,1959,1646,1430,1302,971,5386,1781,1445,...,2420,3441,2274,2163,13879,1861,4948,5756,2735,2498
17,2020-03-26,4018,3385,1959,1646,1430,1302,6255,1440,1241,...,1672,3728,1938,2092,10861,3622,3766,5363,2475,1731
18,2020-03-27,4675,4018,3385,1959,1646,1430,7424,1634,1598,...,2313,3858,3017,2599,11336,3131,4324,6306,5069,2381
19,2020-03-28,5386,4675,4018,3385,1959,1646,8536,1503,1552,...,2225,3005,2565,2288,7542,3776,3125,6125,3166,2286
20,2020-03-29,6255,5386,4675,4018,3385,1959,9595,1530,1631,...,2180,3328,2088,3457,6408,2649,2568,6237,2872,2226

In [1019]:
train_data = data.filter(F.col('date') < '2020-03-25')
test_data = data.filter(F.col('date') > '2020-03-25').filter(F.col('date') <= '2020-04-01')

In [1020]:
feature_cols = train_data.columns[1:-1]
feature_cols

['numconf',
 'numconf_lag1',
 'numconf_lag2',
 'numconf_lag3',
 'numconf_lag4',
 'numconf_lag5',
 'label',
 'battl',
 'case_death',
 'coronaviru_lockdown',
 'covid_lockdown',
 'covid_patient',
 'death',
 'donat',
 'equip',
 'hero',
 'lockdown',
 'new_york',
 'nurs',
 'polic',
 'ppe',
 'stayhom',
 'stayhomesavel',
 'staysaf',
 'total',
 'ventil']

In [1021]:
assembler = VectorAssembler(inputCols=feature_cols, outputCol='features')
train_data = assembler.transform(train_data)
test_data = assembler.transform(test_data)

In [1022]:
train_data = train_data.select(['features', 'label'])
test_data = test_data.select(['features', 'label'])

In [1023]:
train_data.toPandas()

                                             features  label
0   [77.0, 62.0, 57.0, 51.0, 45.0, 39.0, 138.0, 57...    138
1   [90.0, 77.0, 62.0, 57.0, 51.0, 45.0, 176.0, 19...    176
2   [103.0, 90.0, 77.0, 62.0, 57.0, 51.0, 193.0, 2...    193
3   [138.0, 103.0, 90.0, 77.0, 62.0, 57.0, 249.0, ...    249
4   [176.0, 138.0, 103.0, 90.0, 77.0, 62.0, 324.0,...    324
5   [193.0, 176.0, 138.0, 103.0, 90.0, 77.0, 424.0...    424
6   [249.0, 193.0, 176.0, 138.0, 103.0, 90.0, 569....    569
7   [324.0, 249.0, 193.0, 176.0, 138.0, 103.0, 846...    846
8   [424.0, 324.0, 249.0, 193.0, 176.0, 138.0, 971...    971
9   [569.0, 424.0, 324.0, 249.0, 193.0, 176.0, 130...   1302
10  [846.0, 569.0, 424.0, 324.0, 249.0, 193.0, 143...   1430
11  [971.0, 846.0, 569.0, 424.0, 324.0, 249.0, 164...   1646
12  [1302.0, 971.0, 846.0, 569.0, 424.0, 324.0, 19...   1959
13  [1430.0, 1302.0, 971.0, 846.0, 569.0, 424.0, 3...   3385
14  [1646.0, 1430.0, 1302.0, 971.0, 846.0, 569.0, ...   4018
15  [1959.0, 1646.0, 1430.0, 1302.0, 971.0, 846.0,...   4675

In [1024]:
lr = LinearRegression(featuresCol='features', labelCol='label', maxIter=1000, regParam=0.6)
model = lr.fit(train_data)

In [1025]:
prediction = model.transform(test_data)
result = prediction.toPandas()

In [1026]:
evaluator = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="rmse")

In [1027]:
rmse = evaluator.evaluate(prediction)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 250.549

In [1028]:
np.abs(result['prediction']-result['label'])/result['label']

0    0.038449
1    0.026594
2    0.020486
3    0.036656
dtype: float64

In [1029]:
result

                                            features  label   prediction
0  [4018.0, 3385.0, 1959.0, 1646.0, 1430.0, 1302....   6255  6014.498932
1  [4675.0, 4018.0, 3385.0, 1959.0, 1646.0, 1430....   7424  7226.568536
2  [5386.0, 4675.0, 4018.0, 3385.0, 1959.0, 1646....   8536  8361.132907
3  [6255.0, 5386.0, 4675.0, 4018.0, 3385.0, 1959....   9595  9946.711199