In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, Window
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.sql import functions as F
from pyspark.sql import types as T
from nltk.corpus import stopwords
eng_stopwords = stopwords.words('english')

In [2]:
import sparknlp
spark = sparknlp.start()

In [3]:
# conf = SparkConf().set("spark.jars", "./spark-nlp_2.11-2.4.5.jar")

In [4]:
from pyspark.ml import Pipeline

from sparknlp.annotator import *
from sparknlp.common import *
from sparknlp.base import *

In [7]:
spark

In [8]:
sparknlp.version()

'2.4.5'

In [9]:
df = spark.read\
    .option("encoding", "UTF-8")\
    .option("delimiter", ",")\
    .option("parserLib", "univocity")\
    .option("multiLine", "true")\
    .option("escape", "\"")\
    .csv("tweets", header=True)

In [10]:
df.limit(10).toPandas()

,status_id,user_id,created_at,text,lang
0,1238253442063310848,532343475,2020-03-13T00:00:00Z,The UFC is about to be the most popular sport ...,en
1,1238253441778098177,165879150,2020-03-13T00:00:00Z,The great toilet paper depression of 2020 #Toi...,en
2,1238253440486313988,569242704,2020-03-13T00:00:00Z,The 'Spotlight Show' with @janeyleegrace on @u...,en
3,1238253439051870208,16368021,2020-03-13T00:00:00Z,Because we all the time in the world right? @s...,en
4,1238253440821649408,1057148786189824000,2020-03-13T00:00:00Z,French pastry chef shows off Easter eggs model...,en
5,1238253442034020354,1093544067219292161,2020-03-13T00:00:00Z,ICYMI - Hour 2 of #TheGamePlan with @DaveWNSP ...,en
6,1238253441564266496,39743812,2020-03-13T00:00:00Z,"With rising #Coronavirus cases in India, which...",en
7,1238253441517928448,17852186,2020-03-13T00:00:00Z,#ICYMI: #Ontario #MPPs may temporarily suspend...,en
8,1238253440603541504,1454687180,2020-03-13T00:00:00Z,Despite having only 3 confirmed #coronavirus c...,en
9,1238253440461135873,19047089,2020-03-13T00:00:00Z,Autonomous #Robots Are Helping Kill #Coronavir...,en

In [37]:
document_assembler = DocumentAssembler() \
    .setInputCol("text")

# sentence_detector = SentenceDetector() \
#     .setInputCols(["document"]) \
#     .setOutputCol("sentence")

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")

normalizer = Normalizer() \
    .setInputCols(["token"]) \
    .setOutputCol("normal")\
    .setCleanupPatterns(['[^A-Za-z]', 'http.*'])\
    .setLowercase(True)

stopwords_cleaner = StopWordsCleaner() \
    .setInputCols(["normal"]) \
    .setOutputCol("clean") \
    .setCaseSensitive(False) \
    .setStopWords(eng_stopwords)

# lemmatizer = LemmatizerModel.pretrained() \
#     .setInputCols(["clean"]) \
#     .setOutputCol("lemma")

lemmatizer=LemmatizerModel.load('lemma_antbnc_en_2.0.2_2.4_1556480454569/')\
    .setInputCols(["clean"]) \
    .setOutputCol("lemma")

stemmer = Stemmer() \
    .setInputCols(["lemma"]) \
    .setOutputCol("stem")

# word_embeddings=ElmoEmbeddings.pretrained()\
#     .setInputCols(["document", "lemma"])\
#     .setOutputCol("embedding")

# word_embeddings=ElmoEmbeddings.load('elmo_en_2.4.0_2.4_1580488815299/')\
#     .setInputCols(["document", "lemma"])\
#     .setOutputCol("embedding")


# sentence_embeddings=SentenceEmbeddings()\
#     .setInputCols(["document", "embedding"])\
#     .setOutputCol("sentence_embedding")\
#     .setPoolingStrategy("AVERAGE")


ngrams_cum = NGramGenerator() \
    .setInputCols(["stem"]) \
    .setOutputCol("ngram") \
    .setN(2) \
    .setEnableCumulative(True)\
    .setDelimiter("_") # Default is space


finisher = Finisher() \
    .setInputCols(["ngram"]) \
    .setOutputCols(['tokens'])\

lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]

In [38]:
pipeline = Pipeline(stages=[
    document_assembler, 
#     sentence_detector, 
    tokenizer, 
    normalizer, 
    stopwords_cleaner,
    lemmatizer,
    stemmer,
#     word_embeddings,
#     sentence_embeddings,
    ngrams_cum,
    finisher
])

In [39]:
result = pipeline.fit(df).transform(df)

In [40]:
result = result.select(
        'status_id',
        'created_at',
        F.from_unixtime(F.unix_timestamp('created_at', 'yyyy-MM-dd')).cast('timestamp').alias('date'),
        F.explode("tokens").alias("word")
        )

In [41]:
result = result.groupBy(['word', 'date'])\
    .agg(F.countDistinct("status_id").alias("count"))

In [42]:
result_df = result.toPandas()
result_df

                word       date  count
0                ufc 2020-03-13      1
1            popular 2020-03-13      1
2              sport 2020-03-13     15
3              entir 2020-03-13      1
4              world 2020-03-13     17
...              ...        ...    ...
6636     univers_amp 2020-03-13      1
6637            self 2020-03-13      2
6638          perhap 2020-03-13      1
6639  face_disciplin 2020-03-13      1
6640      bulk_order 2020-03-13      1

[6641 rows x 3 columns]

In [ ]:
# result.write\
#     .option("encoding", "UTF-8")\
#     .option("delimiter", ",")\
#     .option("parserLib", "univocity")\
#     .option("multiLine", "true")\
#     .option("escape", "\"")\
#     .mode("overwrite")\
#     .parquet("word_count.parquet")

In [ ]:
result = spark.read\
    .option("encoding", "UTF-8")\
    .option("delimiter", ",")\
    .option("parserLib", "univocity")\
    .option("multiLine", "true")\
    .option("escape", "\"")\
    .parquet("word_count.parquet")

In [56]:
result2 = result.groupby('word')\
    .agg(F.sum('count').alias('count'))\
    .orderBy(F.desc('count'))

In [57]:
result2.toPandas()

                   word  count
0            coronaviru    239
1                 covid    143
2     coronaviruspandem     77
3                 peopl     32
4                   get     29
...                 ...    ...
6636     outsid_countri      1
6637      immun_respons      1
6638                kit      1
6639    commun_contract      1
6640             perhap      1

[6641 rows x 2 columns]

In [58]:
df_cases = spark.read.csv('covid19.csv', header=True)

In [67]:
df_cases = df_cases.filter(F.col('prname') == 'Canada')\
    .select(
        F.from_unixtime(F.unix_timestamp('date', 'dd-MM-yyyy')).cast('timestamp').alias('date'),
        'numconf',
    )

In [68]:
df_cases.toPandas()

         date numconf
0  2020-01-31       4
1  2020-02-08       7
2  2020-02-16       8
3  2020-02-21       9
4  2020-02-24      10
5  2020-02-25      11
6  2020-02-26      12
7  2020-02-27      13
8  2020-02-29      15
9  2020-03-01      24
10 2020-03-03      33
11 2020-03-05      45
12 2020-03-06      51
13 2020-03-07      57
14 2020-03-08      62
15 2020-03-09      77
16 2020-03-11     103
17 2020-03-12     138
18 2020-03-13     176
19 2020-03-14     193
20 2020-03-15     249
21 2020-03-16     324
22 2020-03-17     424
23 2020-03-18     569
24 2020-03-19     846
25 2020-03-20     971
26 2020-03-21    1302
27 2020-03-22    1430
28 2020-03-23    1646
29 2020-03-24    1959
30 2020-03-25    3385
31 2020-03-26    4018
32 2020-03-27    4675
33 2020-03-28    5386
34 2020-03-29    6255
35 2020-03-30    7424
36 2020-03-31    8536
37 2020-04-01    9595
38 2020-04-02   11268
39 2020-04-03   12519
40 2020-04-04   13882
41 2020-04-05   15496
42 2020-04-06   16653
43 2020-04-07   17883
44 2020-04-08   19274
45 2020-04-09   20748
46 2020-04-10   22133
47 2020-04-11   23301
48 2020-04-12   24365
49 2020-04-13   25663