In [8]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, Window, Row
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql import types as T
import pandas as pd

In [3]:
spark = SparkSession.builder.appName('covid19').getOrCreate()

In [4]:
result = spark.read\
    .option("encoding", "UTF-8")\
    .option("delimiter", ",")\
    .option("parserLib", "univocity")\
    .option("multiLine", "true")\
    .option("escape", "\"")\
    .parquet("word_count.parquet")

In [5]:
result2 = result.groupby('word')\
    .agg(F.sum('count').alias('count'))\
    .orderBy(F.desc('count'))

In [6]:
words = [row[0] for row in result2.limit(1000).select('word').collect()]
if 'date' in words:
    words.remove('date')

In [121]:
result3 = result.groupBy('date').pivot('word', words).max('count').orderBy('date').fillna(0)

In [26]:
df_cases = spark.read.csv('covid_numconf.csv', header=True)

In [29]:
df_cases = df_cases.select(
        F.from_unixtime(F.unix_timestamp('date', 'yyyy-MM-dd')).cast('timestamp').alias('date'),
        F.col('numconf').cast('Long'),
        F.lit(1).alias('temp')
    )

window = Window.partitionBy('temp').orderBy('date')

df_cases = df_cases.withColumn("numconf_lead3", (F.lead('numconf', 3).over(window)))
df_cases = df_cases.withColumn("numconf_lead7", (F.lead('numconf', 7).over(window)))
df_cases = df_cases.withColumn("numnew", (F.col('numconf') - F.lag('numconf', 1).over(window)))
df_cases = df_cases.withColumn("numnew_lead3", (F.lead('numnew', 3).over(window)))
df_cases = df_cases.withColumn("numnew_lead7", (F.lead('numnew', 7).over(window)))

df_cases = df_cases.select(
    'date',
    'numconf',
    'numconf_lead3',
    'numconf_lead7',
    'numnew',
    'numnew_lead3',
    'numnew_lead7'
)

In [30]:
df_cases.toPandas()

,date,numconf,numconf_lead3,numconf_lead7,numnew,numnew_lead3,numnew_lead7
0,2020-03-01,24,39.0,62.0,NaN,6.0,5.0
1,2020-03-02,28,45.0,77.0,4.0,6.0,15.0
2,2020-03-03,33,51.0,90.0,5.0,6.0,13.0
3,2020-03-04,39,57.0,103.0,6.0,6.0,13.0
4,2020-03-05,45,62.0,138.0,6.0,5.0,35.0
5,2020-03-06,51,77.0,176.0,6.0,15.0,38.0
6,2020-03-07,57,90.0,193.0,6.0,13.0,17.0
7,2020-03-08,62,103.0,249.0,5.0,13.0,56.0
8,2020-03-09,77,138.0,324.0,15.0,35.0,75.0
9,2020-03-10,90,176.0,424.0,13.0,38.0,100.0
10,2020-03-11,103,193.0,569.0,13.0,17.0,145.0
11,2020-03-12,138,249.0,846.0,35.0,56.0,277.0
12,2020-03-13,176,324.0,971.0,38.0,75.0,125.0
13,2020-03-14,193,424.0,1302.0,17.0,100.0,331.0
14,2020-03-15,249,569.0,1430.0,56.0,145.0,128.0
15,2020-03-16,324,846.0,1646.0,75.0,277.0,216.0
16,2020-03-17,424,971.0,1959.0,100.0,125.0,313.0
17,2020-03-18,569,1302.0,3385.0,145.0,331.0,1426.0
18,2020-03-19,846,1430.0,4018.0,277.0,128.0,633.0
19,2020-03-20,971,1646.0,4675.0,125.0,216.0,657.0
20,2020-03-21,1302,1959.0,5386.0,331.0,313.0,711.0
21,2020-03-22,1430,3385.0,6255.0,128.0,1426.0,869.0
22,2020-03-23,1646,4018.0,7424.0,216.0,633.0,1169.0
23,2020-03-24,1959,4675.0,8536.0,313.0,657.0,1112.0
24,2020-03-25,3385,5386.0,9595.0,1426.0,711.0,1059.0
25,2020-03-26,4018,6255.0,11268.0,633.0,869.0,1673.0
26,2020-03-27,4675,7424.0,12519.0,657.0,1169.0,1251.0
27,2020-03-28,5386,8536.0,13882.0,711.0,1112.0,1363.0
28,2020-03-29,6255,9595.0,15496.0,869.0,1059.0,1614.0
29,2020-03-30,7424,11268.0,16653.0,1169.0,1673.0,1157.0
30,2020-03-31,8536,12519.0,17883.0,1112.0,1251.0,1230.0
31,2020-04-01,9595,13882.0,19274.0,1059.0,1363.0,1391.0
32,2020-04-02,11268,15496.0,20748.0,1673.0,1614.0,1474.0
33,2020-04-03,12519,16653.0,22133.0,1251.0,1157.0,1385.0
34,2020-04-04,13882,17883.0,23301.0,1363.0,1230.0,1168.0
35,2020-04-05,15496,19274.0,24365.0,1614.0,1391.0,1064.0
36,2020-04-06,16653,20748.0,25663.0,1157.0,1474.0,1298.0
37,2020-04-07,17883,22133.0,NaN,1230.0,1385.0,NaN
38,2020-04-08,19274,23301.0,NaN,1391.0,1168.0,NaN
39,2020-04-09,20748,24365.0,NaN,1474.0,1064.0,NaN
40,2020-04-10,22133,25663.0,NaN,1385.0,1298.0,NaN
41,2020-04-11,23301,NaN,NaN,1168.0,NaN,NaN
42,2020-04-12,24365,NaN,NaN,1064.0,NaN,NaN
43,2020-04-13,25663,NaN,NaN,1298.0,NaN,NaN

In [31]:
result4 = result3.join(df_cases, on='date', how='left')

NameError: name 'result3' is not defined

In [137]:
result4.stat.corr("coronaviru", "numconf")

nan

In [ ]:
result4.persist()

In [ ]:
result4.write\
    .option("encoding", "UTF-8")\
    .option("delimiter", ",")\
    .option("parserLib", "univocity")\
    .mode("overwrite")\
    .parquet("word_count_pivot.parquet")

In [140]:
sc = SparkContext.getOrCreate()

In [ ]:
corr_coefs_new = [result4.stat.corr(w, 'numnew') for w in words]

In [ ]:
corr_coefs_new_lead3 = [result4.stat.corr(w, 'numnew_lead3') for w in words]

In [ ]:
corr_coefs_new_lead7 = [result4.stat.corr(w, 'numnew_lead7') for w in words]

In [2]:
rdd = sc.parallelize(zip(words, corr_coefs_new, corr_coefs_new_lead3, corr_coefs_new_lead7))
corr_rdd = rdd.map(lambda x: Row(word=x[0], corr_new=x[1], corr_new_lead3=x[2], corr_new_lead7=x[3]))
corr_df = spark.createDataFrame(corr_rdd)

NameError: name 'sc' is not defined

In [ ]:
corr_df.toPandas().to_csv("word_correlation_new_case.csv", index=False)